* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
    --navbar_color:rgb(51,51,51);
    --navbar_hover_color:rgb(93, 92, 92);
    --dark_greyish_background:rgb(37,37,41);
    --red:rgb(185,4,21);
    --blue:rgb(16,48,99);
    --footer_color:rgb(51,51,51);
}

body{
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
}

.navbar_section {
    width: 100%;
    font-size: 1.5rem;
    color: white;
    background-color: var(--navbar_color);
    position: fixed;
}

ul {
    display: flex;
}

li {
    text-align: center;
    width: 100px;
    list-style: none;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: white;  
}

.navbar_section a:hover {
    background-color: var(--navbar_hover_color);
}

.guitar_player_background {
    background-image: url(https://images.unsplash.com/photo-1530022351670-4caa0efc0b4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    height: 800px;
    text-align: center;
    padding-top: 170px;
    color: white;
}

.guitar_player_background h1{
    font-size: 3.6em;
    padding-bottom: 50px;
}

.guitar_player_background h2{
    font-size: 3rem;
    padding-bottom: 40px;
}

.guitar_player_background p{
    width: 80%;
    margin: 0 auto;
}

.dark_grey_background {
    background-color: var(--dark_greyish_background);
    color: white;
    text-align: center;
    padding-top: 50px;
}

.dark_grey_background h1 {
    font-size: 3.8rem;
    padding-bottom: 50px;
}

.dark_grey_background h2{
    font-size: 3rem;
    padding-bottom: 40px;
}

.dark_grey_background h3{
    width: 78%;
    margin: 0 auto;
}

.dark_grey_background button{
    background-color: var(--red);
    font-size: 1.5rem;
    padding: 20px 12px;
    color:  white;
    border: none;
    margin: 20px;
}

.dark_grey_background button:hover{
    background-color: rgb(248, 33, 33);
    padding: 20px 12px;
    cursor: pointer;
}

.dark_grey_background p{
    font-size: 1.5rem;
}

.dark_grey_background img {
    width: 100%;
    padding: 15px;
}

.white_background{
    color: var(--navbar_color);
    text-align: center;
}

.white_background h1 {
    font-size: 3rem;
    padding-top: 75px;
}

.white_background h3{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.white_background button{
    border: none;
    background-color: var(--blue);
    padding: 20px 15px;
    margin: 20px;
    font-size: 1.5rem;
    color: white;
}

.white_background img{
    border: 3px solid red;
}

.stars_background {
    background-image: url();
}